# star schema

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

# Creating Dimension Tables and Fact Table

In [3]:
%%sql 
--dimension table for course meetings
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS(
    CourseMeetingID INTEGER PRIMARY KEY,
    CourseOfferingID INTEGER NOT NULL,
    LocationID INTEGER NOT NULL,
    StartDateTime TEXT NOT NULL,
    EndDateTime TEXT NOT NULL,
    FOREIGN KEY (CourseOfferingID) REFERENCES COURSE_OFFERINGS(CourseOfferingID),
    FOREIGN KEY (LocationID) REFERENCES LOCATIONS(LocationID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [4]:
%%sql
--dimension table for course catalog 
-- Course Catalogs table
DROP TABLE IF EXISTS CATALOG_COURSES;
CREATE TABLE CATALOG_COURSES (
    CourseID INTEGER PRIMARY KEY,
    CatalogYear TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    ProgramID INTEGER,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prereqs TEXT,
    Coreqs TEXT,
    Fees TEXT,
    Attributes TEXT,
    Description TEXT,
    FOREIGN KEY (ProgramID) REFERENCES PROGRAMS(ProgramID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [5]:
%%sql
-- dimension table for program 
-- Programs table as Dimension_Table
DROP TABLE IF EXISTS PROGRAMS;
CREATE TABLE PROGRAMS (
    ProgramID INTEGER PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [6]:
%%sql
--dimension table for location

-- Locations table
DROP TABLE IF EXISTS LOCATIONS;
CREATE TABLE LOCATIONS (
    LocationID INTEGER PRIMARY KEY,
    LocationCode TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [7]:
%%sql
--dimensoin table for instructor
-- Instructors table
DROP TABLE IF EXISTS INSTRUCTORS;
CREATE TABLE INSTRUCTORS (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [8]:
%%sql
-- fact table
DROP TABLE IF EXISTS COURSE_FACT_TABLE;
CREATE TABLE COURSE_FACT_TABLE(
    CourseID INTEGER,
    CatalogID TEXT NOT NULL,
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    Section TEXT NOT NULL,
    Credits REAL,
    Title TEXT NOT NULL,
    Timecodes TEXT,
    PrimaryInstructorID INTEGER,
    Capacity INTEGER NOT NULL,
    Actual INTEGER NOT NULL,
    Remaining INTEGER NOT NULL,
    CONSTRAINT COURSE_FACT_TABLE_PK PRIMARY KEY(COURSEID)
   -- CONSTRAINT COURSE_ID FOREIGN KEY(COURSEID)
   -- CONSTRAINT PROGRAM_ID FOREIGN KEY(PROGRAMID)
   -- CONSTRAINT LOCATION_ID FOREIGN KEY(LOCATIONID)
   -- CONSTRAINT INSTRUCTOR_ID FOREIGN KEY(INSTRUCTORID)
   -- CONSTRAINT COURSE_OFFERING_ID FOREIGN KEY(COURSEOFFERINGID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

- make fact tables from the erd tables 
- roll up queries

# Loading Data

In [9]:
%sql ATTACH DATABASE 'CourseData.db' as 'CourseInfo';

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql
SELECT *
FROM CourseInfo.Programs
Limit 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[]