In [1]:
%load_ext sql
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

# Questions

# What Courses Require a Prereq?

In [23]:
%%sql
SELECT DISTINCT COURSE_MEETING_FACTS.COURSETITLE, PREREQS
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
WHERE PREREQS >=1
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Introduction to Management Accounting', 'AC 0011.'),
 ('Intermediate Accounting I', 'AC 0011.'),
 ('Intermediate Accounting II', 'AC 0203.'),
 ('Accounting Information Systems', 'AC 0012.'),
 ('Advanced Accounting', 'AC 0204; junior or senior standing.'),
 ('Cost Management', 'AC 0012, AC 0203, junior or senior standing.'),
 ('Auditing', 'AC 0204; junior or senior standing.'),
 ('Federal Income Taxation I', 'AC 0204; junior or senior standing.'),
 ('Accounting Information for Decision-Making', 'AC 0400.'),
 ('Roots of American Culture', 'One American Studies Gateway course.')]

# What Courses Does Dr. Scheraga Teach?

In [6]:
%%sql
SELECT COURSE_MEETING_FACTS.COURSETITLE, NAME
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
WHERE NAME like "%Scheraga"
GROUP BY COURSE_MEETING_FACTS.COURSETITLE, NAME

 * sqlite:///CourseDataWarehouse.db
Done.

[('Argument and Advocacy', 'Carl A.  Scheraga'),
 ('Communication Philosophies, Theories, and Research Traditions', 'Carl A.  Scheraga'),
 ('Family Communication', 'Carl A.  Scheraga'),
 ('Human Communication Theories', 'Carl A.  Scheraga'),
 ('Identities, Discourse, and Social Change', 'Carl A.  Scheraga'),
 ('Interpersonal Communication', 'Carl A.  Scheraga'),
 ('Interpersonal Communication Theories', 'Carl A.  Scheraga'),
 ('Interracial Communication', 'Carl A.  Scheraga'),
 ('Mass Media and Society', 'Carl A.  Scheraga'),
 ('Race, Identity, and Representation', 'Carl A.  Scheraga'),
 ('Research Projects in Communication: Capstone', 'Carl A.  Scheraga')]

# What Were the Course Offerings in Fall 2014?

In [18]:
%%sql
SELECT DISTINCT TERM, COURSE_MEETING_FACTS.COURSETITLE, COURSE_MEETING_FACTS.CATALOGID, NAME
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
WHERE TERM = 'Fall2014'
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Aaron K.  Perkus'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Aaron Quinn  Weinstein'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Aaron R.  Van Dyke'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Abdel Illah A.  Douda'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Adam E.  Rugg'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Adrian H.  van der Kroef'),
 ('Fall2014', 'Introduction to Financial Accounting', 'AC 0011', 'Adrian S.  Rusu-Sprincenatu'),
 ('Fall2014', 'Introduction to Management Accounting', 'AC 0012', 'Ahmed M.  Ebrahim'),
 ('Fall2014', 'Intermediate Accounting I', 'AC 0203', 'Alan   Anderson'),
 ('Fall2014', 'Intermediate Accounting II', 'AC 0204', 'Alan C.  Murchie')]

# How Many Courses Were Offered Over the 2017 Winter Interession?

In [17]:
%%sql
SELECT DISTINCT TERM, COUNT(COURSE_MEETING_FACTS.COURSETITLE)
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
WHERE TERM = 'Winter2017'
;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Winter2017', 91)]

# What Courses Are 4 Credits?

In [34]:
%%sql
SELECT COURSE_MEETING_FACTS.COURSETITLE, COURSE_MEETING_FACTS.CREDITS, COURSE_MEETING_FACTS.CATALOGID
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
GROUP BY COURSE_MEETING_FACTS.COURSETITLE
HAVING COURSE_MEETING_FACTS.CREDITS = 4
LIMIT 10
;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Adult Health II', 4.0, 'NS 0643'),
 ('Advanced Health Assessment', 4.0, 'NS 0604'),
 ('Advanced Nursing Roles for Systems Leadership and Improvement', 4.0, 'NS 0521'),
 ('Advanced Pathophysiology for Anesthesia Practice', 4.0, 'NS 0669'),
 ('Basic Latin', 4.0, 'LA 0111'),
 ('Biomedical Instrumentation', 4.0, 'BEN 0300'),
 ('Calculus I', 4.0, 'MA 0171'),
 ('Calculus I for Chemistry, Engineering, and Physics Majors', 4.0, 'MA 0145'),
 ('Calculus II', 4.0, 'MA 0172'),
 ('Calculus II for Chemistry, Engineering, and Physics Majors', 4.0, 'MA 0146')]

# What Professors Teach More Than One Course?

In [45]:
%%sql
SELECT DISTINCT COUNT(SECTION) AS SECTIONCOUNT, COURSE_MEETING_FACTS.COURSETITLE, COURSE_MEETING_FACTS.CATALOGID, NAME, TERM
FROM Course_Meeting_Facts
    LEFT JOIN INSTRUCTORS_DIM ON PRIMARYINSTRUCTORID = INSTRUCTORID
    LEFT JOIN CATALOG_COURSES_DIM USING (COURSEID)
WHERE TERM = "Spring2015" AND NAME <> "None"
GROUP BY NAME
HAVING COUNT(*)>1
LIMIT 10
;

 * sqlite:///CourseDataWarehouse.db
Done.

[(66, 'Introduction to Management Accounting', 'AC 0012', 'Aaron K.  Perkus', 'Spring2015'),
 (81, 'Introduction to Management Accounting', 'AC 0012', 'Aaron Quinn  Weinstein', 'Spring2015'),
 (81, 'Introduction to Management Accounting', 'AC 0012', 'Aaron R.  Van Dyke', 'Spring2015'),
 (78, 'Introduction to Management Accounting', 'AC 0012', 'Abdel Illah A.  Douda', 'Spring2015'),
 (54, 'Introduction to Management Accounting', 'AC 0012', 'Adam E.  Rugg', 'Spring2015'),
 (13, 'Accounting Information Systems', 'AC 0265', 'Adrian H.  van der Kroef', 'Spring2015'),
 (54, 'Introduction to Management Accounting', 'AC 0012', 'Adrian S.  Rusu-Sprincenatu', 'Spring2015'),
 (66, 'Cost Management', 'AC 0320', 'Ahmed M.  Ebrahim', 'Spring2015'),
 (78, 'Intermediate Accounting II', 'AC 0204', 'Alan   Anderson', 'Spring2015'),
 (26, 'Intermediate Accounting I', 'AC 0203', 'Alan C.  Murchie', 'Spring2015')]