In [2]:
%load_ext sql
import pandas as pd
import sqlite3

In [3]:
%sql sqlite:///CourseData.db
conn = sqlite3.connect('CourseData.db')

In [4]:
%%sql
SELECT locationID, LocationCode
FROM Locations
LIMIT 10

 * sqlite:///CourseData.db
Done.

[]

In [5]:
locations_df = _.DataFrame()
locations_df

Empty DataFrame
Columns: []
Index: []

In [6]:
%%sql
SELECT *
FROM sqlite_master

 * sqlite:///CourseData.db
Done.

[('table', 'COURSE_OFFERINGS', 'COURSE_OFFERINGS', 6, 'CREATE TABLE COURSE_OFFERINGS (\n    CourseOfferingID INTEGER PRIMARY KEY,\n    CourseID INTEGER,\n    CatalogID TEXT NOT NULL,\n    Term TEXT NOT NU ... (249 characters truncated) ... ULL,\n    FOREIGN KEY (CourseID) REFERENCES CATALOG_COURSES(CourseID),\n    FOREIGN KEY (PrimaryInstructorID) REFERENCES INSTRUCTORS(InstructorID)\n)'),
 ('table', 'TERM_CATALOG_YEAR', 'TERM_CATALOG_YEAR', 9, 'CREATE TABLE TERM_CATALOG_YEAR (\n    CatalogYear TEXT NOT NULL,\n    Term TEXT NOT NULL\n)'),
 ('index', 'ix_course_offerings_alt_key', 'COURSE_OFFERINGS', 12, 'CREATE INDEX ix_course_offerings_alt_key on COURSE_OFFERINGS(Term,CatalogID,Section)'),
 ('table', 'COURSE_MEETINGS', 'COURSE_MEETINGS', 8, 'CREATE TABLE COURSE_MEETINGS(\n    CourseMeetingID INTEGER PRIMARY KEY,\n    CourseOfferingID INTEGER NOT NULL,\n    LocationID INTEGER NOT NULL,\n   ... (62 characters truncated) ... \n    FOREIGN KEY (CourseOfferingID) REFERENCES COURSE_OFFERINGS(CourseOfferingID),\n    FOREIGN KEY (LocationID) REFERENCES LOCATIONS(LocationID)\n)'),
 ('table', 'CATALOG_COURSES', 'CATALOG_COURSES', 4, 'CREATE TABLE CATALOG_COURSES (\n    CourseID INTEGER PRIMARY KEY,\n    CatalogYear TEXT NOT NULL,\n    CatalogID TEXT NOT NULL,\n    ProgramID INTEGE ... (74 characters truncated) ... s TEXT,\n    Coreqs TEXT,\n    Fees TEXT,\n    Attributes TEXT,\n    Description TEXT,\n    FOREIGN KEY (ProgramID) REFERENCES PROGRAMS(ProgramID)\n)'),
 ('table', 'PROGRAMS', 'PROGRAMS', 3, 'CREATE TABLE PROGRAMS (\n    ProgramID INTEGER PRIMARY KEY,\n    ProgramCode TEXT NOT NULL,\n    ProgramName TEXT NOT NULL\n)'),
 ('table', 'LOCATIONS', 'LOCATIONS', 7, 'CREATE TABLE LOCATIONS (\n    LocationID INTEGER PRIMARY KEY,\n    LocationCode TEXT NOT NULL\n)'),
 ('table', 'INSTRUCTORS', 'INSTRUCTORS', 5, 'CREATE TABLE INSTRUCTORS (\n    InstructorID INTEGER PRIMARY KEY,\n    Name TEXT NOT NULL\n)'),
 ('table', 'COURSE_FACT_TABLE', 'COURSE_FACT_TABLE', 2, 'CREATE TABLE COURSE_FACT_TABLE(\n    CourseID INTEGER,\n    CatalogID TEXT NOT NULL,\n    Term TEXT NOT NULL,\n    CRN INTEGER NOT NULL,\n    Section ... (404 characters truncated) ... REIGN KEY(LOCATIONID)\n   -- CONSTRAINT INSTRUCTOR_ID FOREIGN KEY(INSTRUCTORID)\n   -- CONSTRAINT COURSE_OFFERING_ID FOREIGN KEY(COURSEOFFERINGID)\n)')]

In [12]:
%%sql
SELECT sql
FROM sqlite_master
WHERE type = 'table' and name= 'Master'

 * sqlite:///CourseData.db
Done.

[]