In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db
conn = sqlite3.connect('CourseData.db')

In [5]:
%%sql
SELECT locationID, LocationCode
FROM Locations
LIMIT 10

 * sqlite:///CourseData.db
Done.

[]

In [6]:
locations_df = _.DataFrame()
locations_df

Empty DataFrame
Columns: []
Index: []