# star schema

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

# Creating Dimension Tables and Fact Table

SELECT the dimensions you care about, calcuations aggregate
FROM fact_table
    JOIN each dimension table
WHERE somethings are true 
GROUP BY the dimensions you care about 
HAVING some aggregate things

In [3]:
%%sql
--dimension table for course catalog 
-- Course Catalogs table
DROP TABLE IF EXISTS CATALOG_COURSES_DIM;
CREATE TABLE CATALOG_COURSES_DIM (
    CourseID INTEGER PRIMARY KEY,
    CatalogYear TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    ProgramID INTEGER,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prereqs TEXT,
    Coreqs TEXT,
    Fees TEXT,
    Attributes TEXT,
    Description TEXT
    
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [4]:
%%sql
-- dimension table for program 
-- Programs table as Dimension_Table
DROP TABLE IF EXISTS PROGRAMS_DIM;
CREATE TABLE PROGRAMS_DIM (
    ProgramID INTEGER PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    ProgramName TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [5]:
%%sql
--dimension table for location

-- Locations table
DROP TABLE IF EXISTS LOCATIONS_DIM;
CREATE TABLE LOCATIONS_DIM (
    LocationID INTEGER PRIMARY KEY,
    LocationCode TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [6]:
%%sql
--dimension table for instructor
-- Instructors table
DROP TABLE IF EXISTS INSTRUCTORS_DIM;
CREATE TABLE INSTRUCTORS_DIM (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [7]:
%%sql 
-- Fact Table 
DROP TABLE IF EXISTS COURSE_MEETING_FACTS;
CREATE TABLE COURSE_MEETING_FACTS(
    CourseMeetingID INTEGER PRIMARY KEY,
    CourseOfferingID INTEGER NOT NULL,
    LocationID INTEGER NOT NULL,
    StartDateTime TEXT NOT NULL,
    EndDateTime TEXT NOT NULL,
    CatalogID TEXT NOT NULL,
    CourseID INTEGER NOT NULL,
    ProgramID INTEGER NOT NULL,
    CourseTitle TEXT NOT NULL,
    CatalogYear TEXT NOT NULL,
    PrimaryInstructorID INTEGER NOT NULL,
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    Section TEXT NOT NULL,
    Credits REAL,
    Title TEXT NOT NULL,
    Timecodes TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

- roll up queries

# Loading Data

In [8]:
%%sql
ATTACH DATABASE 'CourseData.db' as Course_Info;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [9]:
%%sql
SELECT * 
FROM Course_Info.PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AC', 'Accounting'),
 (2, 'AE', 'Applied Ethics'),
 (3, 'AH', 'Art History'),
 (4, 'AN', 'Asian Studies'),
 (5, 'AR', 'Arabic'),
 (6, 'AS', 'American Studies'),
 (7, 'AY', 'Anthropology'),
 (8, 'BB', 'Business'),
 (9, 'BEN', 'Bioengineering'),
 (10, 'BI', 'Biology'),
 (11, 'BL', 'Black Studies'),
 (12, 'BU', 'Business'),
 (13, 'CH', 'Chemistry'),
 (14, 'CI', 'Chinese'),
 (15, 'CL', 'Classical Studies'),
 (16, 'CN', 'Counseling'),
 (17, 'CO', 'Communication'),
 (18, 'CR', 'Computer Engineering'),
 (19, 'CS', 'Computer Science'),
 (20, 'EC', 'Economics'),
 (21, 'ECE', 'Electrical and Computer Engineering'),
 (22, 'ED', 'Education'),
 (23, 'EE', 'Electrical Engineering'),
 (24, 'EEG', 'English for Engineers'),
 (25, 'EG', 'Engineering'),
 (26, 'EN', 'English'),
 (27, 'ENW', 'English: Writing'),
 (28, 'EV', 'Environmental Studies'),
 (29, 'FI', 'Finance'),
 (30, 'FR', 'French'),
 (31, 'FT', 'Family Therapy'),
 (32, 'FTM', 'Film, Television, and Media Arts'),
 (33, 'GD', 'Graphic Design'),
 (34, 'GM', 'German'),
 (35, 'GR', 'Greek'),
 (36, 'GS', 'General Studies'),
 (37, 'HA', 'Humanitarian Action'),
 (38, 'HE', 'Hebrew'),
 (39, 'HI', 'History'),
 (40, 'HR', 'Honors'),
 (41, 'HS', 'Health Studies'),
 (42, 'HU', 'Humanities'),
 (43, 'ID', 'Interdisciplinary'),
 (44, 'IL', 'International Studies'),
 (45, 'IN', 'Interior Design'),
 (46, 'IRI', 'Irish Studies'),
 (47, 'IS', 'Information Systems'),
 (48, 'IT', 'Italian'),
 (49, 'JA', 'Japanese'),
 (50, 'LA', 'Latin'),
 (51, 'LAC', 'Latin American and Caribbean Studies'),
 (52, 'MA', 'Mathematics'),
 (53, 'MD', 'Educational Technology'),
 (54, 'ME', 'Mechanical Engineering'),
 (55, 'MG', 'Management'),
 (56, 'MK', 'Marketing'),
 (57, 'MOT', 'Management of Technology'),
 (58, 'MPA', 'Public Administration'),
 (59, 'MU', 'Music'),
 (60, 'NS', 'Nursing'),
 (61, 'NSAN', 'Nursing: Anesthesia'),
 (62, 'NSMW', 'Nursing: Midwifery'),
 (63, 'OM', 'Operations Management'),
 (64, 'PG', 'Portuguese'),
 (65, 'PH', 'Philosophy'),
 (66, 'PJ', 'Peace and Justice Studies'),
 (67, 'PO', 'Politics'),
 (68, 'PS', 'Physics'),
 (69, 'PY', 'Psychology'),
 (70, 'QA', 'Quantitative Analysis'),
 (71, 'RES', 'Russian, Eastern European, and Central Asian Studies'),
 (72, 'RLD', 'Reading and Language Development'),
 (73, 'RS', 'Religious Studies'),
 (74, 'RU', 'Russian'),
 (75, 'SA', 'Studio Art'),
 (76, 'SE', 'Special Education'),
 (77, 'SL', 'TESOL and Bilingual Education'),
 (78, 'SO', 'Sociology'),
 (79, 'SP', 'Spanish'),
 (80, 'SW', 'Software Engineering'),
 (81, 'TA', 'Theatre'),
 (82, 'TX', 'Taxation'),
 (83, 'WS', 'Women, Gender, and Sexuality Studies')]

In [10]:
%%sql
SELECT * FROM PROGRAMS;
PRAGMA Course_Info.PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [11]:
%%sql
SELECT * 
FROM Course_Info.Programs;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AC', 'Accounting'),
 (2, 'AE', 'Applied Ethics'),
 (3, 'AH', 'Art History'),
 (4, 'AN', 'Asian Studies'),
 (5, 'AR', 'Arabic'),
 (6, 'AS', 'American Studies'),
 (7, 'AY', 'Anthropology'),
 (8, 'BB', 'Business'),
 (9, 'BEN', 'Bioengineering'),
 (10, 'BI', 'Biology'),
 (11, 'BL', 'Black Studies'),
 (12, 'BU', 'Business'),
 (13, 'CH', 'Chemistry'),
 (14, 'CI', 'Chinese'),
 (15, 'CL', 'Classical Studies'),
 (16, 'CN', 'Counseling'),
 (17, 'CO', 'Communication'),
 (18, 'CR', 'Computer Engineering'),
 (19, 'CS', 'Computer Science'),
 (20, 'EC', 'Economics'),
 (21, 'ECE', 'Electrical and Computer Engineering'),
 (22, 'ED', 'Education'),
 (23, 'EE', 'Electrical Engineering'),
 (24, 'EEG', 'English for Engineers'),
 (25, 'EG', 'Engineering'),
 (26, 'EN', 'English'),
 (27, 'ENW', 'English: Writing'),
 (28, 'EV', 'Environmental Studies'),
 (29, 'FI', 'Finance'),
 (30, 'FR', 'French'),
 (31, 'FT', 'Family Therapy'),
 (32, 'FTM', 'Film, Television, and Media Arts'),
 (33, 'GD', 'Graphic Design'),
 (34, 'GM', 'German'),
 (35, 'GR', 'Greek'),
 (36, 'GS', 'General Studies'),
 (37, 'HA', 'Humanitarian Action'),
 (38, 'HE', 'Hebrew'),
 (39, 'HI', 'History'),
 (40, 'HR', 'Honors'),
 (41, 'HS', 'Health Studies'),
 (42, 'HU', 'Humanities'),
 (43, 'ID', 'Interdisciplinary'),
 (44, 'IL', 'International Studies'),
 (45, 'IN', 'Interior Design'),
 (46, 'IRI', 'Irish Studies'),
 (47, 'IS', 'Information Systems'),
 (48, 'IT', 'Italian'),
 (49, 'JA', 'Japanese'),
 (50, 'LA', 'Latin'),
 (51, 'LAC', 'Latin American and Caribbean Studies'),
 (52, 'MA', 'Mathematics'),
 (53, 'MD', 'Educational Technology'),
 (54, 'ME', 'Mechanical Engineering'),
 (55, 'MG', 'Management'),
 (56, 'MK', 'Marketing'),
 (57, 'MOT', 'Management of Technology'),
 (58, 'MPA', 'Public Administration'),
 (59, 'MU', 'Music'),
 (60, 'NS', 'Nursing'),
 (61, 'NSAN', 'Nursing: Anesthesia'),
 (62, 'NSMW', 'Nursing: Midwifery'),
 (63, 'OM', 'Operations Management'),
 (64, 'PG', 'Portuguese'),
 (65, 'PH', 'Philosophy'),
 (66, 'PJ', 'Peace and Justice Studies'),
 (67, 'PO', 'Politics'),
 (68, 'PS', 'Physics'),
 (69, 'PY', 'Psychology'),
 (70, 'QA', 'Quantitative Analysis'),
 (71, 'RES', 'Russian, Eastern European, and Central Asian Studies'),
 (72, 'RLD', 'Reading and Language Development'),
 (73, 'RS', 'Religious Studies'),
 (74, 'RU', 'Russian'),
 (75, 'SA', 'Studio Art'),
 (76, 'SE', 'Special Education'),
 (77, 'SL', 'TESOL and Bilingual Education'),
 (78, 'SO', 'Sociology'),
 (79, 'SP', 'Spanish'),
 (80, 'SW', 'Software Engineering'),
 (81, 'TA', 'Theatre'),
 (82, 'TX', 'Taxation'),
 (83, 'WS', 'Women, Gender, and Sexuality Studies')]

In [12]:
%%sql
SELECT DISTINCT CATALOGID, TERM, CRN, TITLE
FROM Course_Info.INSTRUCTORS
    JOIN Course_Info.COURSE_OFFERINGS ON (Course_Info.INSTRUCTORS.INSTRUCTORID=Course_Info.COURSE_OFFERINGS.PRIMARYINSTRUCTORID)
LIMIT 5;

 * sqlite:///CourseDataWarehouse.db
Done.

[('AC 0011', 'Fall2014', 70384, 'Introduction to Financial Accounting'),
 ('AC 0011', 'Fall2014', 70385, 'Introduction to Financial Accounting'),
 ('AC 0011', 'Fall2014', 70382, 'Introduction to Financial Accounting'),
 ('AC 0011', 'Fall2014', 70291, 'Introduction to Financial Accounting'),
 ('AC 0011', 'Fall2014', 70350, 'Introduction to Financial Accounting')]

In [13]:
%%sql
SELECT *
FROM Course_Info.LOCATIONS
LIMIT 5;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'BCC 200'), (2, 'BD '), (3, 'BH '), (4, 'BH BY ARR'), (5, 'BLM 112')]

In [14]:
%%sql
SELECT PRIMARYINSTRUCTORID, COUNT(DISTINCT COURSEID) as COURSECOUNT
FROM Course_Info.COURSE_OFFERINGS
GROUP BY PRIMARYINSTRUCTORID
HAVING COUNT(*) = 1
LIMIT 5;

 * sqlite:///CourseDataWarehouse.db
Done.

[(42, 0), (80, 0), (111, 0), (117, 0), (134, 0)]

In [15]:
%%sql
--how many people enrolled in ba0500
SELECT DISTINCT CATALOGID, TERM, ACTUAL, TITLE, COUNT(DISTINCT COURSEID) as COURSECOUNT
FROM Course_Info.Course_Offerings 
WHERE CATALOGID = 'BA 0500'

 * sqlite:///CourseDataWarehouse.db
Done.

[('BA 0500', 'Fall2018', 32, 'Business Analytics', 0)]

In [16]:
%%sql
--which professors teach ethics 
SELECT CATALOGID, CRN, SECTION, TITLE, PRIMARYINSTRUCTORID
FROM Course_Info.Course_Offerings
    JOIN INSTRUCTORS_DIM ON (INSTRUCTORS_DIM.Name = Course_Info.COURSE_OFFERINGS.PrimaryInstructorID)
WHERE CATALOGID = 'BU 0391';

 * sqlite:///CourseDataWarehouse.db
Done.

[]